# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

#### Objectives
- List popular languages for Data Science
- List popular Python libraries used in Data Science
- List popular Data Science Tools
- Show some example Python code and expressions
- Demonstrate use of a Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. JavaScript

... and more

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. Scikit-learn

#### Data Science Tools:

| Data Science Tools |
| -------- |
| Jupyter Notebooks |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(str(hours) + " hours")

3.3333333333333335 hours

## Author

Joseph Brighter